+b.NAV.menu-mobile
	ul
		li
			a(href="#") Новости
		li
			+e.level
				+e.left
					+e.arrow
				+e.right
					a(href="#") О нас
			ul
				li
					a(href="#") Пункт субменю
				li
					a(href="#") Ещё один
				li
					+e.level
						+e.left
							+e.arrow
						+e.right
							a(href="#") Галерея
					ul
						li
							a(href="#") Ещё пункт
						li
							a(href="#") Пункт субменю очень очень очень очень длинный
						li
							+e.level
								+e.left
									+e.arrow
								+e.right
									a(href="#") Субменю 4 уровня с очень очень длинным названием
							ul
								li
									a(href="#") Ещё один пункт
								li
									a(href="#") Пункт субменю ещё один очень длинный
		li
			a(href="#") Контакты