+b.UL.menu-main
	+e.LI.item
		+e.A(href="#").link Новости
	+e.LI.item
		+e.A(href="#").link О нас
		+e.submenu
			+b.menu-main-submenu
				+e.item
					+e.A(href="#").link Пункт субменю
				+e.item
					+e.A(href="#").link Пункт субменю
				+e.item
					+e.A(href="#").link Пункт субменю очень очень очень длинный
	+e.LI.item
		+e.A(href="#").link Галерея
	+e.LI.item
		+e.A(href="#").link Контакты
