+b.grid-demo
	+e.col
		+e.item Autem quam architecto totam aliquam incidunt, modi ea laudantium dolorum similique hic quidem, laborum ex dolor esse, eaque doloremque optio! Quo, sequi.
	+e.col
		+e.item Hic, repellendus ullam ut amet, debitis neque quia incidunt deleniti quod pariatur nisi eius aliquam, nesciunt voluptate tempora at ad dignissimos laboriosam!
	+e.col
		+e.item Ratione sed dolores eveniet esse voluptas! Reprehenderit eligendi soluta officiis molestias dolore nesciunt tenetur numquam? Quaerat cumque eius illo error tempore nobis.
	+e.col
		+e.item Eveniet delectus, tenetur fugit sit et harum, quia quas optio, hic voluptatem excepturi illo possimus non aliquam quisquam facere. Nemo nostrum, voluptas.
	+e.col
		+e.item Sequi beatae vitae earum aperiam eos sapiente facere veritatis libero iure, quae inventore, fugiat fuga molestias doloribus nobis. Deleniti hic quae dicta.
	+e.col
		+e.item Assumenda, reiciendis perspiciatis sunt hic, laborum delectus, autem reprehenderit neque quaerat sed dolores ut porro rerum mollitia aperiam. Voluptatum obcaecati veritatis placeat!
	+e.col
		+e.item Sequi beatae vitae earum aperiam eos sapiente facere veritatis libero iure, quae inventore, fugiat fuga molestias doloribus nobis. Deleniti hic quae dicta.
	+e.col
		+e.item Assumenda, reiciendis perspiciatis sunt hic, laborum delectus, autem reprehenderit neque quaerat sed dolores ut porro rerum mollitia aperiam. Voluptatum obcaecati veritatis placeat!
