+b.tooltip-cursor
	+e.content
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, temporibus, id. Minima aspernatur ea vitae accusantium, veniam sint alias natus, ipsum, esse nemo minus voluptates, illum quos quae aperiam tempora.
