// Сетка

@import '/_base/_variables'
@import '/_base/_mixins'

// Миксины
row()
	cf()
	margin-left (- $wrapper-padding)
	margin-right (- $wrapper-padding)
	if $grid-extra-padding
		padding-left $grid-extra-padding
		padding-right $grid-extra-padding

col-base()
	float left
	display inline-block
	padding 0 $wrapper-padding

col(colWidth = 6)
	width (100 / $grid-cols-num) * colWidth + '%'



// Классы
// Их хватит на очень большое количество задач
// Если не хватает, просто дописываем сюда правила с помощью миксинов
.row
	row()

.col
	col-base()

	// Sizes
	&.five-sixths
		col(10)

	&.three-quarters
		col(9)

	&.two-thirds
		col(8)

	&.half
		col(6)

	&.third
		col(4)

	&.quarter
		col(3)

	&.sixth
		col(2)

	// Media
	&.desktop
		+below($desktop)
			width 100%
			float none

	&.tablet
		+below($tablet)
			width 100%
			float none

	&.mobile
		+below($mobile)
			width 100%
			float none

	// Helpers
	&.right
		float right
