.demo-block
	h2.demo-title Сетка
	.row
		.col.half.md
			.demo-col-inner Half md
		.col.quarter.md.right
			.demo-col-inner Quarter md
		.col.third.sm
			.demo-col-inner Third sm
		.col.two-thirds.sm
			.demo-col-inner Two thirds sm
