// ====== Цвета
red     = #c44
orange  = #c84
yellow  = #cc4
green   = #4c4
blue    = #48c
navy    = #44c
purple  = #c4c

white   = #fff
light   = #ccc
neutral = #888
dark    = #444
black   = #000

// Один HEX тон - к примеру от цвета 000 до 111. Работает и с rgba()
tone = 17


// ====== Стандартная "transition-timing-function"
$ttf = 200ms ease-in-out 0ms


// ====== Медиа размеры
$desktop = 1200px
$tablet  = 720px
$mobile  = 320px


// ====== Боковой отступ у враппера
$wrapper-padding   = 10px


// ====== Сетка
$components-grid    = false
$grid-cols-num      = 12
$grid-extra-padding = 0
