// ====== Цвета
red     = #c44
orange  = #c84
yellow  = #cc4
green   = #4c4
blue    = #48c
navy    = #44c
purple  = #c4c

white   = #fff
light   = #ccc
neutral = #888
dark    = #444
black   = #000

// Один HEX тон (к примеру от цвета 000 до 111)
tone = 17


// ====== Размер шрифта
$baseFontSize = 16px


// Стандартная "transition-timing-function"
$timing = 200ms ease-in-out 0ms


// ====== Боковые отступы у впаррепа
$sidePadding = 10px


// ====== Медиа размеры (учитываем $sidePadding)
$large   = 1920px
$desktop = 1200px
$tablet  = 720px
$mobile  = 320px


// ====== Количество колонок сетки
$columnsCount = 12
