// Инпуты

// Наследуем стили элементов формы через селектор "form-theme".
// Таким образом, если в дизайне у форм будет две разные темы,
// просто дублируем классы и называем их "form-theme-2".
//
// При таком наследовании будет соблюдаться ясность в стилизации
// сколь угодного количества различных по дизайну форм.
//
// Все темы форм будут наследоваться от первоначальной,
// которая лежит в файле "reset-forms.css"


// ====== Theme 1
.form-theme
	input[type="text"]
	input[type="password"]
	input[type="number"]
	input[type="tel"]
	input[type="email"]
	input[type="search"]
	input[type="url"]
	textarea
		border 1px solid #08c
		color #08c
		border-radius 3px

	.checkbox__dot
		border-color #08c

	.checkbox__dot::before
		background-color #08c
