.header
	background-color #444
	color #fff
	&__logo
		margin 5px 20px 7px 0
		display inline-block
		float left
		width 50px
	&__menu
		display inline-block
		float left
		+below($tablet)
			display none
	&__hamburger
		margin-top 13px
		display inline-block
		float right